.awards {
    &__swiper {
        overflow: hidden;

        .swiper-slide {
            display: grid;
            place-content: center;
        }
    }
    &__badge {
        aspect-ratio: 1;
        object-fit: contain;
    }

}