.cb-lp-contact-form {
	padding-top: 4rem;

	.container {
		padding-bottom: 4rem;
	}

	&__title {
		font-size: var(--fs-900);
		line-height: 1;
		margin-bottom: 1.5rem;
		text-wrap: balance;
	}

	&__intro {
		font-size: var(--fs-400);
		line-height: 1.7;
		max-width: 40rem;

		p:last-child {
			margin-bottom: 0;
		}
	}
}
