.news,
.latest_news,
.jobs {
    .news__grid {
        display: grid;
        gap: 1rem;
    }
    .jobs__grid {
        display: grid;
        gap: 1rem;
    }

    @media (min-width:992px) {
        .news__grid {
            grid-template-columns: repeat(3,1fr);
        }
        .jobs__grid {
            grid-template-columns: repeat(4,1fr);
        }
    }

    &__card {
        background-color: var(--col-grey-600);
        color: var(--body-color);
        display: block;
        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }
    .jobs__card {
        background-color: white;
    }
    .news__card, .lates_news__card {
        min-height: 455px;
    }
    &__inner {
        padding: 1rem 2rem;
        h3 {
            font-size: var(--fs-500);
            color: var(--body-color);
        }
    }
    &__date {
        font-size: var(--fs-200);
        margin-bottom: 1rem;
    }
    &__excerpt {
        font-size: var(--fs-300);
    }
}

.jobs {
    background-color: var(--col-grey);
}