.portfolio {
    // background-color: var(--col-green-400);
    @media (min-width:992px) {
        min-height: 100vh;
        display: flex;
    }
    align-content: center;

    .swiper-container {
        max-width: 100%;
        overflow: hidden;
    }

    /* Center the controls below the carousel */
    .swiper-controls {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        position: relative;
        height: 1.2rem;
    }

    /* Override Swiper's default button positioning */
    .swiper-button-prev,
    .swiper-button-next {
        color: var(--col-primary-400);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1rem;
        &::after {
            content: "";
            width: 1rem;
            height: 1rem;
            font-size: 1rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .swiper-button-prev::after {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 195.61 164.22'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %235f8575; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m7.44,89.58l-7.44-7.44,7.44-7.44L74.69,7.44l7.44-7.44,14.84,14.84-7.44,7.44-49.3,49.34h155.38v21.01H40.23l49.34,49.3,7.44,7.44-14.84,14.84-7.44-7.44L7.44,89.58Z'/%3E%3C/svg%3E");
    }

    .swiper-button-next::after {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 195.61 164.22'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %235f8575; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m120.88,156.78l-7.44,7.44-14.84-14.84,7.44-7.44,49.3-49.3H0v-21.01h155.38l-49.3-49.34-7.44-7.44L113.48,0l7.44,7.44,67.25,67.25,7.44,7.44-7.44,7.44-67.29,67.2Z'/%3E%3C/svg%3E");
    }

    /* Custom positioning of the buttons outside the carousel */
    .swiper-button-prev {
        position: relative;
    }

    .swiper-button-next {
        position: relative;
    }

    /* Center pagination and adjust spacing */
    .swiper-pagination {
        flex-grow: 0;
        text-align: center;
        width: auto !important;
        position: relative;
        top: -0.1rem;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--col-primary-400);
    }

    &__image {
        aspect-ratio: 4 / 3;
        object-fit: cover;
        width: 100%;
        object-position: center;
    }

}