fieldset.cols-md-3 .gfield_checkbox {
    @media (min-width:992px) {
        columns: 3;
    }
}
fieldset.cols-md-2 .gfield_checkbox {
    @media (min-width:992px) {
        columns: 2;
    }
}


.form-control {
    font-weight: 300;
    font-size: 0.889rem;
}

// .gform_wrapper form {
//     max-width: 768px;
//     margin: auto;
// }

.gform_fields {
    row-gap: 1rem !important;
}

// .gfield {
//     margin-bottom: 15px;
//     padding-right: 15px;
//     padding-left: 15px;
// }

.gform_wrapper.gravity-theme input[type=text],
.gform_wrapper.gravity-theme input[type=email],
.gform_wrapper.gravity-theme input[type=tel],
.gform_wrapper.gravity-theme input[type=number],
.gform_wrapper.gravity-theme textarea {
    @extend .form-control;
}

.gform_wrapper select {
    @extend .form-select;
}

.gfield textarea {
    height: 100px;
}

.validation_error,
.gfield_error .validation_message {
	color: crimson;
}

.validation_error,
.gform_confirmation_message {
	font-size: 18px;
}

.gfield_error .validation_message {
	margin-top: 5px;
}

.gfield_error select,
.gfield_error textarea,
.gfield_error input {
    border-color: crimson;
}

// body .gform_wrapper .gform_body .gform_fields 
.gfield textarea.large { height: 200px !important; }

body .gform_wrapper .gform_footer button[type='submit'],
.gfield_choice_all_toggle {
    @extend .btn;
    @extend .btn-primary;
}

// .gfield_checkbox,
// .gfield_radio {
//     display: flex;
//     justify-content: space-around;
// }
