header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    transition: transform var(--transition);
    &.hidden {
        transform: translateY(-100px);
    }

    .current-menu-item {
        font-weight: var(--fw-900);
    }

    #menu-primary-nav {
        column-gap: 3rem;
        row-gap: 0.5rem;
    }

    .navbar-toggler {
        border: none;
        background: transparent !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 24px;
        cursor: pointer;
        position: relative;
        padding: 0;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    
    /* Style the hamburger bars */
    .navbar-toggler .icon-bar {
        display: block;
        width: 100%;        /* Full width of the toggler */
        height: 3px;        /* Thicker height for bars */
        background-color: rgba(0 0 0 /.7);  /* Adjust to your desired color */
        border-radius: 2px; /* Add slight rounding for a softer look */
        transition: all 0.3s ease; /* Smooth transition for the animation */
        position: absolute; /* Positioning to align properly during transformation */
    }
    
    /* Positioning each bar correctly when the hamburger is closed */
    .icon-bar:nth-of-type(1) {
        top: 0; /* Top bar */
    }
    
    .icon-bar:nth-of-type(2) {
        top: 50%; /* Middle bar centered */
        transform: translateY(-50%); /* Adjust to perfectly center */
    }
    
    .icon-bar:nth-of-type(3) {
        bottom: 0; /* Bottom bar */
    }
    
    /* Animation to form the X when expanded */
    .navbar-toggler[aria-expanded="true"] .icon-bar:nth-of-type(1) {
        transform: rotate(45deg);
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    
    .navbar-toggler[aria-expanded="true"] .icon-bar:nth-of-type(2) {
        opacity: 0; /* Hide the middle bar */
    }
    
    .navbar-toggler[aria-expanded="true"] .icon-bar:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .navbar-brand img {
        aspect-ratio: 141 / 62;
        width: 100%;
        max-height: 62px;
        max-width: 141px;
    }
}
