header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    transition: transform var(--transition);
    &.hidden {
        transform: translateY(-100px);
    }

    .current-menu-item {
        font-weight: var(--fw-900);
    }

    #menu-primary-nav {
        column-gap: 3rem;
        row-gap: 0.5rem;
    }
}
