header {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    transition: transform var(--transition);
    &.hidden {
        transform: translateY(-100px);
    }

    .current-menu-item {
        font-weight: var(--fw-900);
    }
}
